@media (max-width:1200px) {

}
@media (max-width:991px) {
    .carousel {
        &__inner {
            margin-bottom: 120px;
        }
    }
    .carousel .slick-prev {
        top: 115%;
        left: 70px;
    }
    .carousel .slick-next {
        top: 115%;
        right: 70px;        
    }
    .catalog {
        &__tab {
            font-size: 14px;
            line-height: 48px;
            width: 200px;
            height: 48px;
        }
        &__content {
            justify-content: space-around;
        }
    }
}
@media (max-width:767px) {
    .carousel {
        &__inner {
            padding-left: 80px;
            img {
                width: 80%;
            }
        }
    }
    .carousel .slick-next {
        top: 115%;
        right: 100px;        
    }
    .catalog {
        &__tabs {
            flex-direction: column;
        }
        &__tab {
            font-size: 12px;
            line-height: 40px;
            width: 180px;
            height: 42px;
        }
    }
}
@media (max-width:575px) {
    .header {
        &__logo {
            width: 280px;
            img {
                width: 100%; 
            }
        }
        &__phone {
            font-size: 14px;
        }
        &__official {
            span {
                font-size: 14px;
            }
        }
            
    }
    .button {
        height: 24px;
        width: 130px;
        font-size: 12px;
        &_main {
            width: 220px;
        }
        &_submit {
            width: 100%;
            height: 58px;
            font-size: 16px;
        }
    }
    .promo {
        padding-bottom: 30px;
        min-height: 500px;
        &__header {
            font-size: 36px;
        }
        &__subheader {
            font-size: 16px;
        }
        &__icon {
            width: 80%;
        }
        &__link {
            font-size: 12px;
        }
    }    
    .title {
        font-size: 24px;
        &_left {
            line-height: 27px;
        }
    }
    .advance {
        padding: 40px 0;
        &__title {
            font-size: 14px;
        }
        &__dscr {
            font-size: 12px;
        }
    }
    .consultation {
        padding: 40px 0; 
        min-height: 500px;  
        &__dscr {
            font-size: 18px;
            line-height: 20px;
        }
    }
    .carousel {
        &__inner {
            padding-left: 100px;
            img {
                width: 60%;
            }
        }
    }
    .slick-slide {
        width: 450px;
    }
    .carousel .slick-prev {
        top: 115%;
        left: 120px;        
    }
    .carousel .slick-next {
        top: 115%;
        right: 120px;        
    }
    .feedback {
        &__item {
            flex-direction: column;
        }
        &__msg {
            margin-left: 40px;
            margin-top: 25px;
            width: 90%;
        }
    }
}
@media (max-width:440px) {
    .header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__official {
            margin-top: 12px;
        }
        &__contacts {
            margin-top: 12px;
        }
        &__phone {
            text-align: center;
            font-size: 18px;
        }
    }
    .button {
        width: 153px;
        height: 32px;
        font-size: 12px;
        &_main {
            width: 303px;
            height: 54px;
            font-size: 16px;
        }
        &_submit {
            width: 100%;
            height: 58px;
            font-size: 16px;            
        }
    }
    .promo {
        padding-bottom: 20px;
        &__header {
            font-size: 24px;
        }
        &__subheader {
            font-size: 14px;
        }
        &__link {
            font-size: 16px;
        }
    }
    .advance {
        padding: 20px 0;
    }
    .title {
        &_left {
            font-size: 18px;
            line-height: 22px;
        }
    }
    .consultation {
        padding: 20px 0; 
        min-height: 450px;       
        &__dscr {
            font-size: 14px;
            line-height: 14px;
        }
    }
    .carousel {
        padding-bottom: 20px;
        &__inner {
            padding-left: 100px;
        }
    }
    .carousel .slick-next {
        top: 115%;
        right: 70px;        
    }
}