.advance {
    min-height: 473px;
    padding: 73px 0 65px 0;
    background: url('../img/bg_2.jpg') center (center/cover) no-repeat;
    &__items {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        align-items: top;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 277px;
        img {
            display:block;
            margin: 0 auto;
        }       
    }
    &__title {
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        color: #0D0D0D;
        margin-top: 35px;
    }
    &__dscr {
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #0D0D0D;
        margin-top: 20px;
        span {
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
            text-decoration-line: underline;           
            color: #FF0000;
        }
    }
    &__icon_animated {
        animation: heartbeat 2s ease-in infinite;
        // animation-name: heartbeat;
        // animation-duration: 2s;
        // animation-timing-function: ease;
        // animation-iteration-count: infinite;
        &:hover {
            animation-play-state: paused;
        }
    }
}